<div id='main-view'>
		<h2 class='tagline'>ALREADY A MEMBER?</h2>
		<h2 class='tagline'>SIGN IN.</h2>
	
	<%= form_tag '/sessions' do %>
<!-- 		<input class='user-signup' name ='email' autocomplete='on' type="email" placeholder="Enter email address" required>
		<input class='user-signup' name ='password' autocomplete='on' type="password" placeholder="Enter password" required>
		<button id='sign-in-button' class='submit-button' type='submit'>SIGN IN</button> -->
	  <p class='user-signup'>
	  	<%= text_field_tag :username %>
	  </p>

	  <p class='user-signup'>
	  	<%= text_field_tag :password %>
	  </p>
	
		<p id='sign-in-button' class='submit-button'>
	  	<%= submit_tag 'SIGN IN' %>
		</p>

	<% end %>
	
	<div class='footer' id='login-footer'>
		<span>NOT A MEMBER?</span>
		<span class='sign-in-link'><%= link_to "Sign up now", root_path %></span>
		<span class='wingdings'>4</span>
	</div>

</div>