<div id='main-view'>
	<h2 class='tagline'>ALREADY A MEMBER?</h2>
	<h2 class='signin-tagline'>SIGN IN.</h2>
	
	<%= form_tag '/sessions' do %>
  	<%= text_field_tag :username, nil, placeholder: 'Enter username', class: 'user-signup' %>
  	<%= password_field_tag :password, nil, placeholder: 'Enter password', class: 'user-signup' %>
  	<%= submit_tag 'SIGN IN', class: 'submit-button' %>
	<% end %>
	
	<div class='footer' id='login-footer'>
		<span>NOT A MEMBER?</span>
		<span class='sign-in-link'><%= link_to "Sign up now", root_path, :class => 'sign-in-link' %></span>
		<span class='wingdings'>4</span>
	</div>
</div>