<h1 class='signin-tagline' id='welcome-back-header'>
  Hey, <%= current_user.username %>
</h1>

<div id='deal-container'>
	<% @user.deals.each do |deal| %>
		<div class='deal'>
			<%= link_to deal.biz_name, deal_path(deal), :class => 'deal-biz-name' %>
			<p id='deal-title'><%= link_to deal.deal_title, deal_path(deal) %></p>
			<img id='deal-pic' src="<%= deal.deal_image %>">			
		</div>
	<% end %>		
</div>

<div class='footer'>
	<span class='footer-button'>
		<%= link_to 'My Deals', user_path(current_user), :id=>'my-deals' %>
	</span>
	<span class='footer-button'>
		<%= link_to 'About', about_path, :id=>'about' %>
	</span>
	<span class='footer-button'>
		<a id='blog' target='_blank' href="http://thisisnthappiness.com/">Blog</a>
	</span>
	<span class='footer-button'>
		<%= link_to 'Logout', sessions_path, method: :delete, :id => 'logout' %>
	</span>
</div>