<!DOCTYPE html>
<html>
<head>
  <title>Dealr</title>
  <!-- <link rel="stylesheet" href="animate.min.css"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
</head>
<body>

	<h2 id='logo'><%= link_to 'DEALR', deals_path, :id => 'logo' %></h2>

	<template id='deal-saved-modal'>
		<h1>Deal Saved!</h1>
	</template>

	<%= yield %>


</body>
</html>
